@model InvoiceLineItemsViewModel

<h4><b>Line items for invoice # @Model.invoice.InvoiceId</b></h4>
<table style="width:100%; border: 1px solid black; border-collapse: collapse;">
    <thead>
        <tr>
            <th class="text-center" style="border: 1px solid black; border-collapse: collapse;">Description</th>
            <th class="text-center" style="border: 1px solid black; border-collapse: collapse;">Amount</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var invoicelineItem in Model.invoice.InvoiceLineItems)
        {
            <tr>
                <td class="text-center" style="border: 1px solid black; border-collapse: collapse;">@invoicelineItem.Description</td>
                <td class="text-center" style="border: 1px solid black; border-collapse: collapse;">
                    <script>
                        var formattedPrice = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'CAD' }).format(@invoicelineItem.Amount);
                        document.write(formattedPrice);
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
</br>
<div class="form-group row p-2">
    <div class="col-sm-2 me-auto"><h4><b>Total: </b></h4></div>
    <div class="col-sm-8 ms-auto">
        <h4>
            <b>
                <script>
                    var formattedPrice = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'CAD' }).format(@Model.invoice.PaymentTotal);
                    document.write(formattedPrice);
                </script>
            </b>
        </h4>
    </div>
</div>
<form asp-controller="Vendor" asp-action="AddLineItem" asp-route-vendorId="@Model.vendorId" asp-route-invoiceId="@Model.invoice.InvoiceId"
        method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" asp-for="addLineItemRequest.vendorId" value="@Model.vendorId" />
    <input type="hidden" asp-for="addLineItemRequest.invoiceId" value="@Model.invoice.InvoiceId" />
    <input type="hidden" asp-for="vendorId" value="@Model.vendorId" />
    <input type="hidden" asp-for="invoice.InvoiceId" value="@Model.invoice.InvoiceId" />
    <div class="form-group row p-1">
        <div class="text-end"><span asp-validation-for="addLineItemRequest.Description" class="text-danger"></span></div>
        <div class="col-sm-2 me-auto"><h4><b><label asp-for="addLineItemRequest.Description">Description: </label></b></h4></div>
        <div class="col-sm-8 ms-auto"><input type="text" asp-for="addLineItemRequest.Description" class="form-control" /></div>
    </div>
    <div class="form-group row p-1">
        <div class="text-end"><span asp-validation-for="addLineItemRequest.Amount" class="text-danger"></span></div>
        <div class="col-sm-2 me-auto"><h4><b><label asp-for="addLineItemRequest.Amount">Amount: </label></b></h4></div>
        <div class="col-sm-8 ms-auto"><input type="text" asp-for="addLineItemRequest.Amount" class="form-control" /></div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Add line item</button>
</form>